body {
  background: var(--cor-3);
  display: grid;
  justify-items: center;
}

main {
  background: var(--cor-2);

  margin: 100px 0;
  padding: 50px;
  border-radius: 10px;

  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

img,
h1,
h2 {
  margin-top: 10px;
}

p {
  margin-top: 50px;
}

ul {
  margin-top: 20px;
  justify-self: stretch;
}

li {
  background: var(--cor-1);
  margin-top: 15px;
  border-radius: 10px;

  display: grid;
}

a {
  padding: 20px 0;
}

a:hover {
  background: var(--cor-p1);
  color: var(--cor-3);
  border-radius: 10px;
}

@media (max-width: 800px) {
  main {
    margin: 30px 20px;
    padding: 20px;
  }

  img,
  h1,
  h2 {
    margin-top: 5px;
  }

  p {
    margin-top: 30px;
  }

  ul {
    margin-top: 5px;
  }
}
