body {
  background: var(--cor-3);
}

main {
  background: var(--cor-2);

  max-width: 600px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 10px;

  display: grid;
  justify-items: center;
  text-align: center;
}

img,
h1,
h2 {
  margin-top: 10px;
}

p {
  margin-top: 50px;
}

ul {
  margin-top: 20px;
  justify-self: stretch;
}

li {
  background: var(--cor-1);
  margin-top: 15px;
  border-radius: 10px;

  display: grid;
}

a {
  padding: 20px 0;
}

a:hover {
  background: var(--cor-p1);
  color: var(--cor-3);
  border-radius: 10px;
}
