.font-s {
  font: 400 1rem/1 Inter, sans-serif;
}

.font-m {
  font: 400 1.25rem/1 Inter, sans-serif;
}

.font-m-b {
  font: 500 1.25rem/1 Inter, sans-serif;
}

.font-l {
  font: 700 2rem/1 Inter, sans-serif;
}
